{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Listado de materiales</h1>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    <div class="row">
        <div class="col-sm-12">
            <table style="width:100%">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>

                {% for material in materials %}
                    <tr>
                        <td>{{ material.name }}</td>
                        <td>{{ material.price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Añadir nuevo material</h3>
        <div class="col-sm-3 col-md-offset-21">
            {{ form_start(material_form) }}
            {{ form_end(material_form) }}
        </div>
    </div>

{% endblock %}