{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Editar máquinas</h1>

    <div class="col-sm-5  col-md-offset-3">
        {{ form_start(machine_form) }}
        {{ form_end(machine_form) }}
    </div>

{% endblock %}