{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <style>
        thead {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: #18bc9c;
        }

    </style>


    <h2>Albaranes {% if site is defined %} de <a href="{{ path('admin_edit_site', {'site_id': site.id}) }}">{{ site.name }}</a>{% endif %}</h2>
    <br>
    <a class="export_table" js_site="tickets_table" style="cursor: pointer">Exportar a CSV</a>
    <input class="form-control" id="searchTickets" type="text" placeholder="Buscar..">
    <br>

    {% include 'components/tickets_table.html.twig' with {'tickets': tickets } %}


{% endblock %}