{% extends 'base.html.twig' %}

{% block body_id 'user_my_tickets' %}

{% block main %}
        <div class="col-sm-5 ">
            {% include 'components/tickets_table.html.twig' with {'tickets': tickets } %}
        </div>

{% endblock %}

{% block sidebar %}

{% endblock %}